* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}


nav ul {
    display:flex;
    list-style: none;
    gap: 0.8rem;
    justify-content: right;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    padding: 2.8rem;
    font-weight: bold;
}

nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color: TOMATO
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding: .9rem 0;
    display: flex;
    justify-content: center;

    
}

nav ul li a::before {
    content: '';
    width: 0;
    position: absolute;
    height: 2px;
    background-color: rgb(242, 242, 252);
    bottom: 0;
    transition: all 500ms;
}

nav ul li a.active::before {
    width: 50%;
}


nav ul li a.active {
    opacity: 1;
}


nav ul li a:hover::before {
    width: 50%;
}





.slider-container {
    background-color: rgb(8, 8, 8);
    width: 100vw;
    height: 100vh;
    isolation: isolate;
}

.slider-container .slider-item {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: absolute;
    transition: opaacity 3000ms;
}

.slider-container .slider-item[data-show="show"] {
    opacity: 1;
}

.slider-container .slider-item[data-show="hidden"] {
    z-index: -1;
    opacity: 0;
}


/* warna transparan background */
.slider-container .slider-item::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-color: rgba(82, 79, 79, 0.144); */
}

.slider-container .slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* posisi dan warna tulisan selamat datang dan lorem */
.slider-item .slider-content {
    position: absolute;
    color: rgba(245, 9, 41, 0.938);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}


.slider-content .slider-title {
    font-size: 2.5rem;
}

.slider-content .slider-description {
    width: 50ch;
    line-height: 2;
}


/* tulisan explorer */
.slider-content .slider-action {
    color: rgba(199, 236, 34, 0.842);
    border: 2px solid gray;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
    width: fit-content;
    position: relative;
    isolation: isolate;
    transition: all 500sm;
}

.slider-content .slider-action::before {
    content: '';
    background-color: rgb(248, 243, 244);
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 0;
    transition: all 500sm;
}

.slider-content .slider-action:hover::before {
    width: 100%;
}

.slider-content .slider-action:hover {
    color: black;
}
    
.img-content {
    position: absolute;
  margin-left: 45px;
    z-index: 1;
    padding: 1rem;
}

/* .marquee {
    padding: 0.2rem;
    z-index: 1;
} */